/* style.css */
body, html {
    height: 100%;
    margin: 0;
    background-color: beige;
}

canvas {
    background-color: #858585;
    display: block;
    margin: 0 auto;
    width: 600px; 
    height: 800px; 
}

